.card {
  margin: 20px auto;
  padding: 20px;
  width: 725px;
}

/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

::placeholder {
  font-weight: 700;
  color: black;
}
