<div class="field">
  <label class="label">Pet Name</label>
  <div class="control">
    <input class="input" type="text" required placeholder="e.g Bruno">
  </div>
</div>

<div class="field">
  <label class="label">Pet Type</label>
  <div class="control">
    <input class="input" type="text" required placeholder="e.g. Dog">
  </div>
</div>

<div class="field">
  <label class="label">Sex</label>
  <div class="control">
    <input class="input" type="text" placeholder="e.g. Male">
  </div>
</div>

<div class="dropdown is-active">
  <div class="dropdown-trigger">
    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
      <span>Age of Pet</span>
      <span class="icon is-small">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </div>
  <div class="dropdown-menu" id="dropdown-menu" role="menu">
    <div class="dropdown-content">
      <a href="#" class="dropdown-item">
        0-12 months
      </a>
      <a class="dropdown-item">
        1-3 years
      </a>
      <a href="#" class="dropdown-item">
        3-6 years
      </a>
      <a href="#" class="dropdown-item">
        6-9 years
      </a>
      <a href="#" class="dropdown-item">
        9+ years
      </a>
    </div>
  </div>
</div>

<div class="field">
  <label class="label">Location</label>
  <div class="control">
    <input class="input" type="text" placeholder="e.g. St.Louis, MO ">
  </div>
</div>

<div class="field">
  <label class="label">Has the Pet been spayed/neutered?</label>
  <div class="control">
    <input class="input" type="text" placeholder="e.g. Yes">
  </div>
</div>

<div class="field">
  <label class="label">Please tell us more about your pet</label>
  <div class="control">
    <textarea class="textarea is-small" placeholder="e.g. Bruno loves to play with his tennis ball. He is great with kids and other pets."></textarea>
  </div>
</div>
