header {
  background-color: #a2d6f9;
}

p.modal-card-title {
  color: #2b3a67;
}

footer {
  background-color: #a2d6f9;
}

#submitNewPost {
  background-color: #2b3a67;
}

#submitNewPost:hover {
  background-color: #162245;
}

#cancelNewPost {
  color: #2b3a67;
}
