<div>
    <header class="modal-card-head">
      <p
      class="modal-card-title has-text-weight-bold is-size-3 has-text-centered"
      >Create New Post</p>
    </header>
    <section class="modal-card-body">


<!-- Form start ... -->
<form
[formGroup]="newPostForm"
(ngSubmit)="onSubmit()">

<div class="field">
  <label
  class="label"
  >Pet Name</label>
  <div class="control">
    <input
    id="petName"
    name="petName"
    class="input"
    type="text"
    formControlName="petName"
    placeholder="e.g. Bruno">
    <span
    class="help is-danger"
    *ngIf="!newPostForm.get('petName').valid && newPostForm.get('petName').touched">Please enter your pet's name</span>
  </div>
</div>

<div class="field">
  <label
  class="label"
  >Pet Type</label>
  <div class="control">
    <input
    id="petType"
    name="petType"
    class="input"
    type="text"
    formControlName="petType"
    placeholder="e.g. Dog">
    <span
    class="help is-danger"
    *ngIf="!newPostForm.get('petType').valid && newPostForm.get('petType').touched">Please enter the pet type</span>
  </div>
</div>

<div class="field">
  <label
  class="label"
  >Pet Breed</label>
  <div class="control">
    <input
    id="petBreed"
    name="petBreed"
    class="input"
    type="text"
    formControlName="petBreed"
    placeholder="e.g. Great Dane - (optional)">
  </div>
</div>

<div class="field">
  <label
  class="label"
  >Upload a photo of your pet:
<button type="button" class="button is-link is-light is-outlined is-small">Upload Image</button></label>

<div class="card-image">
  <figure class="image is-128x128">
    <img
    class="img"
    src="https://source.unsplash.com/200x200/?pet"
    placeholder=""
    frameborder="0"
    />
  </figure>
</div>
</div>

<div class="field">
  <label
  class="label"
  >Sex</label>
  <div class="control">
    <input
    id="petGender"
    name="petGender"
    class="input"
    type="text"
    formControlName="petGender"
    placeholder="e.g. Male">
    <span
    class="help is-danger"
    *ngIf="!newPostForm.get('petGender').valid && newPostForm.get('petGender').touched">Please enter your pet's gender</span>
  </div>
</div>

<div class="field">
  <label
  class="label"
  >Age</label>
  <div class="control">
    <div
    class="select is-link"
    >
      <select
      id="petAge"
      name="petAge"
      formControlName="petAge"
      >
        <option disabled selected value>Select Age</option>
        <option value="0-12 Months">0-12 Months</option>
        <option value="1-3 Years">1-3 Years</option>
        <option value="3-6 Years">3-6 Years</option>
        <option value="6-9 Years">6-9 Years</option>
        <option value="9+ Years">9+ Years</option>
      </select>

      <span
      class="help is-danger"
      *ngIf="!newPostForm.get('petAge').valid && newPostForm.get('petAge').touched">Please select your pet's age</span>
    </div>
  </div>
</div>
<br>
<div class="field">
  <label
  class="label"
  >Location</label>
  <div class="control">
    <input
    id="petLocation"
    name="petLocation"
    class="input"
    type="text"
    formControlName="petLocation"
    placeholder="e.g. St.Louis, MO">
    <span
      class="help is-danger"
      *ngIf="!newPostForm.get('petLocation').valid && newPostForm.get('petLocation').touched">Please enter your pet's location</span>
  </div>
</div>

<div class="field">
  <div class="control">
    <label
    class="label"
    >Is your pet spayed or neutered?</label>
    <label class="radio">
      <input
      id="spayedNeutered"
      name="spayedNeutered"
      type="radio"
      formControlName="spayedNeutered"
      value="Yes">
      Yes
    </label>
    <label class="radio">
      <input
      id="spayedNeutered"
      name="spayedNeutered"
      type="radio"
      formControlName="spayedNeutered"
      value="No">
      No
    </label>
    <label class="radio">
      <input
      id="spayedNeutered"
      name="spayedNeutered"
      type="radio"
      formControlName="spayedNeutered"
      value="N/A">
      N/A
    </label>
    <span
      class="help is-danger"
      *ngIf="!newPostForm.get('spayedNeutered').valid && newPostForm.get('spayedNeutered').touched">Please select a value</span>
  </div>
</div>

<br>

<div class="field">
  <label
  class="label is-size-4 has-text-weight-bold"
  >Additional Details: </label>
  <div class="control">

        <label
        class="label"
        >Select all that apply: </label>
        <label class="checkbox">
          <input
          id="petDescription"
          name="petDescription"
          type="checkbox"
          formControlName="goodWithChildren"
          value="Children?">
          Good with children?
        </label>
        <br>
        <label class="checkbox">
          <input
          id="petDescription"
          name="petDescription"
          type="checkbox"
          formControlName="goodWithDogs"
          value="Good with dogs?">
          Good with dogs?
        </label>
        <br>
        <label class="checkbox">
          <input
          id="petDescription"
          name="petDescription"
          type="checkbox"
          formControlName="goodWithCats"
          value="Good with cats?">
          Good with cats?
        </label>
        <br>
        <label class="checkbox">
          <input
          id="petDescription"
          name="petDescription"
          type="checkbox"
          formControlName="housetrained"
          value="Trained?">
          House trained or litter box trained?
        </label>
        <br>
        <br>
        <label
        class="label has-text-weight-bold"
        >Please tell us more about your pet:</label>

    <textarea
    id="message"
    name="message"
    class="textarea"
    formControlName="message"
    placeholder="e.g. Bruno loves to play with his tennis ball."></textarea>
    <span
        class="help is-danger"
        *ngIf="!newPostForm.get('message').valid && newPostForm.get('message').touched">Please enter some details about your pet.</span>
  </div>
</div>
<br>
<h2 class="is-size-4 has-text-weight-bold"
>Please tell us about yourself:</h2>
<br>
<div class="field">
  <label
  class="label"
  >First Name</label>
  <div class="control">
    <input
    id="firstName"
    name="firstName"
    class="input"
    type="text"
    formControlName="firstName"
    placeholder="Enter your first name"
    required>
    <span
        class="help is-danger"
        *ngIf="!newPostForm.get('firstName').valid && newPostForm.get('firstName').touched">Please enter your first name</span>
  </div>
</div>
<div class="field">
  <label
  class="label"
  >Last Name</label>
  <div class="control">
    <input
    id="lastName"
    name="lastName"
    class="input"
    type="text"
    formControlName="lastName"
    placeholder="Enter your last name">
  </div>
  <span
        class="help is-danger"
        *ngIf="!newPostForm.get('lastName').valid && newPostForm.get('lastName').touched">Please enter your last name</span>
</div>
<div class="field">
  <label
  class="label"
  >Email</label>
  <div class="control">
    <input
    id="email"
    name="email"
    class="input"
    type="email"
    formControlName="email"
    placeholder="Enter a valid email"
    >
    <span
        class="help is-danger"
        *ngIf="!newPostForm.get('email').valid && newPostForm.get('email').touched">Please enter a valid email</span>
  </div>
</div>
<div class="field">
  <label
  class="label"
  >Phone Number</label>
  <div class="control">
    <input
    id="phoneNumber"
    name="phoneNumber"
    class="input"
    type="tel"
    formControlName="phoneNumber"
    placeholder="(123)456-7890 - (optional)">
  </div>
</div>

<!-- <div class="field">
  <div class="control">
    <label class="checkbox">
      <input type="checkbox">
      I agree to the <a href="#">terms and conditions</a>
    </label>
  </div>
</div> -->


<footer class="modal-card-foot">
<div class="field is-grouped">
  <div class="control">
    <button
    type="submit"
    class="button is-link"
    id="submitNewPost"
    [disabled]="!newPostForm.valid"
    >Submit Post</button>
  </div>
  <div class ="control">
    <button
    class ="button is-link is-light"
    id="cancelNewPost"
    (click)="onCancel()"
    >Cancel</button>
  </div>
</div>
</footer>
</form>
</section>
<hr>
