
.mx-3{
  border-radius: 50%;

}



.xSym {

  span {
    &:first-child {
      transform: rotate(-45deg) translate(-10px, 5px);
    }
    &:nth-child(2) {
      opacity: 0;
    }
    &:last-child {
      transform: rotate(45deg) translate(-2px, 3px);
    }
  }
}


.access{
  cursor: not-allowed;

}

#newPostButton {
  color: #fff;
  background-color: #94bfa7;
}

#newPostButton:hover {
  color: #fff;
  background-color: #5e8b6a;
}

#logOutButton {
  color: #fff;
  background-color: #2b3a67;
}

#logOutButton:hover {
  color: #fff;
  background-color: #162245;
}
