
<nav class="navbar has-shadow is-info py-1" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
     <div class="navbar-item">
      <!-- <p>The Pet Pursuit </p> -->
      <h1 class="is-size-3">The Pet Pursuit</h1>
      <img class="mx-2" src="https://images.unsplash.com/photo-1621636910807-9a23d910c4d1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjF8fHBhdyUyMHByaW50fGVufDB8fDB8fHww" alt="" width="40" height="70">
     </div>



    <a role="button" class="navbar-burger" (click)="toggleNav()" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span class="is-active" aria-hidden="true"></span>
      <span class="is-active" aria-hidden="true"></span>
      <span class="is-active" aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarCon" class="navbar-menu" [class.is-active]="isNavbarActive">
    <div class="navbar-start">
      <a class="navbar-item">
        Home
      </a>

      <a class="navbar-item">
        Find a pet
      </a>

      <a class="navbar-item">
        Favorites
      </a>

      <!-- <a class="navbar-item">
        Accessories
      </a> -->
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-grey-dark">
            <strong>Sign up</strong>
          </a>
          <a class="button is-grey-dark">
            <strong>Log In</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

