.container {
  margin-top: 3rem;
}

.column {
  margin: 20px;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.card {
  border-radius: 10px;
  flex: 0 0 30%;
  margin: 1%;

  border: black solid 1px;
}

.clickedPetImage {
  height: 256px;
  width: auto;
}



 /* Buttons right align */
 .modal-card-foot {
  display: flex;
  justify-content: flex-end;
}



img{
  background-color: black;
  padding: 3px;
}



