<div class="container">
  <div class="title-header">
    <h1 class="is-size-1 has-text-centered">
      Favorites
    </h1>
  </div>
  <hr />



  <div class="columns is-justify-content-space-evenly">
    <div class="card is-one-third column" *ngFor="let fav of favorites">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="{{ fav.imagePath}}" alt="Placeholder image" />
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-size-1">{{ fav.petName }}</p>
            <p class="subtitle is-6">{{ fav.petBreed }}</p>
          </div>

          <button
            class="button is-danger pet-details-button"
            (click)="deleteFav()"

          >
            Delete
          </button>

        </div>

