.container {
  margin-top: 3rem;
}

.column {
  margin: 20px;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.card {
  border-radius: 10px;
  flex: 0 0 30%;
  margin: 1%;
}

.clickedPetImage {
  height: 256px;
  width: auto;
}

form .ng-invalid.ng-touched {
  border: 1px solid red;
}

 /* Buttons right align */
 .modal-card-foot {
  background-color: #a2d6f9;
  display: flex;
  justify-content: flex-end;
}

.formWarning {
  padding-right: 40px;
  color: black;
}

.pet-details-button {
  background-color: #2b3a67;
  color: #fff;
}

.modal-card-head {
  background-color: #a2d6f9;
}

#onSubmit {
  background-color: #2b3a67;
}

#onSubmit:hover {
  background-color: #162245;
}

#applyButton {
  color: #fff;
  background-color: #94bfa7;
}

#applyButton:hover {
  background-color: #5e8b6a;
}

#favButton {
  color: #fff;
  background-color: #2b3a67;
}

#favButton:hover {
  background-color: #162245;
}

