.container {
  margin-top: 3rem;
}

.column {
  margin: 20px;
}

.card {
  border-radius: 10px;
}

.clickedPetImage {
  height: 256px;
  width: auto;
}

form .ng-invalid.ng-touched {
  border: 1px solid red;
}

 /* Buttons right align */
 .modal-card-foot {
  display: flex;
  justify-content: flex-end;
}
