.container {
  margin-top: 3rem;
}

.column {
  margin: 20px;
}

.card {
  border-radius: 10px;
}

.pet-details-button {
  background-color: lightblue;
}

.pet-details-button:hover {
  // background-color: #5C677D;
  background-color: rgb(153, 201, 218);
  // color: white;
  // zoom: 125%;
}
