<div class="container">
  <div class="title-header">
    <h1 class="is-size-1 has-text-centered">Pets Looking for Their Furr-ever Home!</h1>
  </div>
  <hr>
  <div class="columns is-justify-content-space-evenly	">
    <div class="card is-one-third column">
      <div class="card-image">
        <figure class="image is-4by3">
          <img
            src="img/cattle_dog.jpg"
            alt="Placeholder image"
          />
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-size-1">Cowboy</p>
            <p class="subtitle is-6">Cattle Dog</p>
          </div>
        </div>

        <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil velit
          dolores totam pariatur deleniti voluptatem voluptate dolor labore
          laborum repudiandae, fugit perferendis eveniet iste expedita, dolore
          sunt nam nisi rerum? Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Suscipit ex quod odit. Sed blanditiis quia dolores
          iusto iure cum vel saepe, ad ducimus inventore totam in nulla. Eius,
          vitae officiis.</div>
        <button class="button is-link pet-details-button">
          Details
        </button>
      </div>
    </div>
    <div class="card is-one-third column">
      <div class="card-image">
        <figure class="image is-4by3">
          <img
            src="img/great_dane.jpg"
            alt="Placeholder image"
          />
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-size-1">Lila</p>
            <p class="subtitle is-6">Great Dane</p>
          </div>
        </div>

        <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil velit
          dolores totam pariatur deleniti voluptatem voluptate dolor labore
          laborum repudiandae, fugit perferendis eveniet iste expedita, dolore
          sunt nam nisi rerum? Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Suscipit ex quod odit. Sed blanditiis quia dolores
          iusto iure cum vel saepe, ad ducimus inventore totam in nulla. Eius,
          vitae officiis.</div>
        <button class="button is-link pet-details-button">
          Details
        </button>
      </div>
    </div>
    <div class="card is-one-third column">
      <div class="card-image">
        <figure class="image is-4by3">
          <img
            src="img/rottweiler.jpg"
            alt="Placeholder image"
          />
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-size-1">Brutus</p>
            <p class="subtitle is-6">Rottweiler</p>
          </div>
        </div>

        <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil velit
          dolores totam pariatur deleniti voluptatem voluptate dolor labore
          laborum repudiandae, fugit perferendis eveniet iste expedita, dolore
          sunt nam nisi rerum? Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Suscipit ex quod odit. Sed blanditiis quia dolores
          iusto iure cum vel saepe, ad ducimus inventore totam in nulla. Eius,
          vitae officiis.</div>
        <button class="button is-link pet-details-button">
          Details
        </button>
      </div>
    </div>
  </div>
</div>
